.borderCourse {
  display: flex;
  border: thick double #32a1ce;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.formcards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.formcards input {
  display: none;
}
.formcards:hover input {
  display: flex;
  margin: 20px;
  width: 50%;
}
