.headerpost {
  margin-left: -20%;
  width: 500px;
  height: 600px;
}
.headerSign {
  display: flex;
}
.signBody {
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #283288;
}
input {
  height: 40px;
  width: 500px;
  border-radius: 50px;
}
.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.socialMedia {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.flexrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
Button {
  margin-top: 10%;
}
