.About-us {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
  justify-content: space-evenly;
  margin-top: 100px;
}
.video {
  width: 5px;
  height: 5px;
  }
.wlecome{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1;
  justify-content: space-between;
  width: 425px;
  height: 341px;
}
.title-text-aboutus{
  color: #FE7558;
  width: 85px;
  height: 21px;
  font-size: small;
}
.title-text-text{
  font-family: Roboto;
  color: #2F374B;
  font-size: xx-large;
}
.title-text-p{
    font-family: Roboto;
  color: #2F374B;
}
.title-text-nisl{
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 17px;
  color: #2F374B;
}
.LearnMore{
  width: 100px;
  height: 40px;
  background-color: #FE7558;
}
.LearnMore text{
  color: #FFFFFF;
  font-size: medium;
}