@import url("../animation/style.css");
.web-app-image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  animation: movedown 1s ease-in-out 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
.drop-down-content {
  display: none;
  position: absolute;
  padding: 5px;
  background-color: #f9f9f9;
  width: fit-content;
  right: 0;
  top: 60px;
  height: fit-content;
  box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop-down-content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.drop-down-content ul li{
  display: flex;
  margin-top: 20px;
  height: 20px;
  justify-content: space-between;
}
.drop:hover .drop-down-content {
  display: block;
  cursor: pointer;
}
.drop .drop-down-content li:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #999;
  width: 100%;
  border-radius: 30px;  

}
