.card {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 350px;
  width: 250%;
  height: 200%;
  flex-direction: row;
  justify-content: space-between;
}

.title-text-aboutus {
  color: #fe7558;
  font-size: 18px;
  font-family: Roboto;
  width: 85px;
  height: 21px;
  font-size: small;
}
.bodyCard {
  background-color: #0d81c4;

  border-radius: 20px;
  height: 50%;
}

.module {
  width: 50%;
  height: 50%;
  color: #8a8a8a;
}
.flexrow {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-image {
  border-radius: 50%;
}

.card-stats {
  font-family: Roboto;
  font-size: 70px;
  color: #000000;
}

.SeeMore {
  height: 1%;
  left: 100px;
  align-items: center;
  background: #fe7558;
  border-radius: 30px;
}
Button {
  width: 50%;
  background: #fe7558;
  border-radius: 30px;
}
