@import url("../animation/style.css");
.headier {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.startlearning {
  display: felx;
  margin-bottom: 200px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 406px;
  animation: movedown 1s ease-in-out 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
h1 {
  color: #2f374b;
  font-family: Roboto;
  font-size: 70px;
  margin-left: 20px;
}
