/* begin navbar  */
.navbarwiki {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
}

.nav-barwiki-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* position: absolute; */
}

.learnwiki {
  font-size: 18px;
  font-family: Roboto;
  font-weight: bold;
  color: #26c32d;
}
.search-wrap {
  display: flex;
  border: 1px solid #008ea1;
  border-radius: 30px;
  height: 50%;
  align-items: center;
  overflow-x: hidden;
  width: 300px;
}
.search-wrap input {
  border: none;
  height: 1.5rem;
  padding: 0.5rem;
  outline: none;
  width: 300px;
}

