.formcards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
input {
  color: black;
}
.formcards input {
  display: none;
}
.formcards:hover input {
  display: flex;
  margin: 20px;
  width: fit-content;
}
