h1 {
  font-size: 40px;
}
h2 {
  color: black;
  font-size: 40px;
}
.bordures a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 50px;
  color: rgb(39, 115, 145);
  width: 100%;
}
.bordures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-style: solid;
  margin: 100px;
  color: rgb(39, 115, 145);
  width: 70%;
  background-image: url("../../assets/images/module/images.jpeg");
   background-size: cover;
  background-repeat: no-repeat, repeat;
}
span {
  color: black;
  font-size: xx-large;
}
.Nbody {
  border-style: solid;
  color: rgb(39, 115, 145);
}
